* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial;
}

.pc{
    display: flex;
    text-align: center;
    color: white;
    background-color: #521f5f;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 50px;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

.tel{
    display: none;
}

nav {
    display: flex;
    background-color: #521f5f;
    height: 5em;
    width: 100%;
    border-bottom: 2x solid black;
}

nav .active {
    font-size: 1.75em;
}

nav ul {
    text-align: center; 
    flex-basis: 100%;
    flex-grow: 1;   
    margin-bottom: 5em;
    justify-content: space-evenly;
}   

nav ul li {
    display: inline;
    line-height: 5em;
    margin: 0 0.625em;  
}

nav ul li a {
    color: white;
    font-weight: 600;
    font-size: 1.25em;
    padding: 0.5em 1.25em;
    border-radius: 3.1em;
    background-color: #814793;
    transition: 0.3s;
    clip-path: polygon(
        100% 0,
        100% 35%,
        100% 50%,
        100% 65%,
        100% 100%,
        0 100%,
        0 65%,
        0 50%,
        0 35%,
        0 0,
    );
}

.checkbox {
    display: none;
    float: left;
    font-size: 2em;
    color: white;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

.main{
    display: flex;
    flex-basis: 100%;
}

.divMain{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10em;
    margin-right: 10em;
}

.info {
    border-radius: 30px;
    flex-basis: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color:#f0f0f0;
}

.info > h2 {
    font-size: 250%;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.sectionInfo1 {
    padding-left: 6em;
    padding-bottom: 3em;
}

.sectionInfo1 > h3 {
    padding-bottom: 0.5em;
}

.sectionInfo2 {
    padding-left: 6em;
    padding-bottom: 3em;
}

.sectionInfo2 > h3 {
    padding-bottom: 0.5em;
}

.h2Accueil {
    color: darkviolet;
    filter: brightness(0.5);
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 200%;
}

.h2BUT {
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 200%;
}

.h2Licence {
    color: darkviolet;
    filter: brightness(0.5);
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 200%; 
}

.h2Master {
    color: white;
    padding-left: 12%;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 200%; 
}

.h2Inge {
    color: white;
    padding-left: 12%;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 200%; 
}

.imageInfo {
    flex-basis: 10%; 
    max-width: 2%;
    height: auto;
}

.imageAccueil {
    padding-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
    max-width: 100%;
    height: auto;
}

.imageBUT {

    transition: transform 0.3s;
    padding-top: 2em;
    padding-left: 4em;
    padding-right: 4em;
    max-width: 100%;
    height: auto;
}

.imageBUT:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.imageLicence {
    transition: transform 0.3s;
    padding-top: 2em;
    padding-left: 4em;
    padding-right: 4em;
    max-width: 100%;
    height: auto;
}

.imageLicence:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.imageMaster {
    transition: transform 0.3s;
    padding-top: 2em;
    padding-left: 12%;
    max-width: 100%;
    height: auto;
}

.imageMaster:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.imageInge {
    transition: transform 0.3s;
    padding-top: 2em;
    padding-left: 12%;
    padding-right: 12%;
    max-width: 100%;
    height: auto;
}

.imageInge:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.divACCUEIL {
    display: flex;
}

.divBUT {
    background-color: #814793;
    margin-bottom: 6em;
    display: flex;
}

.divLICENCE {
    display: flex;
}

.sectionMasterInge{
    background-color: #814793;
    display: flex;
    padding-bottom: 4em;
}

.sectionAccueil1 {
    flex-basis: 40%;
    margin-bottom: 6em;
}

.sectionAccueil2 {
    text-align: center;
    flex-basis: 60%;
    padding-right: 5em;
    margin-bottom: 6em;
}

.sectionBUT1{
    color: white;
    text-align: center;
    padding-left: 4em;
    flex-basis: 60%;
    margin-bottom: 6em;
}

.sectionBUT2{
    flex-basis: 40%;
    margin-bottom: 6em;
}

.sectionLicence1{
    flex-basis: 40%;
    margin-bottom: 6em;
}

.sectionLicence2{
    text-align: center;
    flex-basis: 60%;
    padding-right: 5em;
    margin-bottom: 6em;
}

.sectionMaster {
    color: white;
    margin-right: 1em;
}

.sectionInge {
    color: white;
    margin-left: 1em;
}


.pMaster {
    padding-left: 12%;
    padding-right: 12%;
}

.pInge {
    padding-left: 12%;
    padding-right: 12%;
}

footer {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 10em;
    padding-right: 10em;
    margin-top: 10em;
    margin-bottom: 0em;
    background-color: #521f5f;
    bottom: 0;
    color: white;
}

footer p {
    flex-grow: 1;
    flex-wrap: wrap;
    margin-bottom: 2em;
    margin-top: 2em;
}

.reseaux {
    display: flex;
}

footer img {
    flex-basis: 20%;
    width: 30%;
    height: auto;
}

.sectionFooter {
    display: flex;
    justify-content: center;
}

footer section {
    flex-basis: 25%; 
}

.ulfooter {
    margin-left: 5em;
}

.afooter {
    margin-left: 5em;
}

footer ul {
    margin-right: 5em;
}

footer .sectionFooter li {
    list-style: circle;
}

footer a {
    color: white;
    text-decoration: underline;
}

@media (max-width: 1060px) {
    label.logo {
        padding-left: 0px;
    }
    nav ul li a {
        font-size: 1em;
    }
} 

@media (max-width: 1340px) {  
    
    .divACCUEIL {
        display: block;
        text-align: center;
    }

    .divBUT {
        display: block;
        text-align: center;
    }

    .divLICENCE {
        display: block;
        text-align: center;
    }


    .imageAccueil {
        padding: 0;
        margin: 0;
        max-width: 60%;
        height: auto;
    }
    
    .imageBUT {
        padding: 0;
        margin: 0;
        max-width: 60%;
        height: auto;
    }
    
    .imageLicence {
        padding: 0;
        margin: 0;
        max-width: 60%;
        height: auto;
    }

    .sectionAccueil1 {
        flex-basis: 100%;
        margin-bottom: 3em;
    }
    
    .sectionAccueil2 {
        padding: 0;
        text-align: center;
        flex-basis: 60%;
        margin-bottom: 3em;
    }
    
    .sectionBUT1{
        padding: 0;
        text-align: center;
        flex-basis: 60%;
        margin-bottom: 3em;
    }
    
    .sectionBUT2{
        padding: 0;
        flex-basis: 40%;
        margin-bottom: 3em;
    }
    
    .sectionLicence1{
        padding: 0;
        flex-basis: 40%;
        margin-bottom: 3em;
    }
    
    .sectionLicence2{
        padding: 0; 
        text-align: center;
        flex-basis: 60%;
        margin-bottom: 3em;
    }
}

@media (max-width: 858px) {

    .tel{
        display: flex;
        margin-top: 0em;
        padding-bottom: 1em;
        text-align: center;
        color: white;
        background-color: #521f5f;
        justify-content: space-evenly;
        font-weight: 600;
        font-size: 50px;
    }

    .pc{
        display: none;
    }

    .checkbox {
        display: block;
        margin-right: 2.5em;
        z-index: 999;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-origin: grey;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        backdrop-filter: blur(15px);
    }

    nav ul li {
        position: relative;
        display: block;
        width: 250px;
        height: 60px;
        margin: 20px auto;
        background-color: #814793;
        border-radius: 50px;
        clip-path: polygon(
            100% 0,
            100% 35%,
            100% 50%,
            100% 65%,
            100% 100%,
            0 100%,
            0 65%,
            0 50%,
            0 35%,
            0 0,
        );
    }

    nav ul li a {
        background-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }

    li:hover{
        background: #521f5f;
        clip-path: polygone(
            100% 0,
            100% 35%,
            100% 50%,
            100% 65%,
            100% 100%,
            0 100%,
            0 65%,
            0 50%,
            0 35%,
            0 0,
        );
    }

    li:hover a {
        color: white;
    }

    #check:checked ~ ul {
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .divMain{
        margin-left: 0em;
        margin-right: 0em;
    }

    .imageInfo {
        display: none;
    }

    footer {
        padding-top: 3em;
        padding-bottom: 3em;
        padding-left: 3em;
        padding-right: 3em;
        
        margin-top: 2em;
        margin-bottom: 0em;
        
        background-color: #521f5f;
        bottom: 0;
        color: white;
        justify-content: center;
    }

    footer p {
        flex-grow: 1;
        flex-wrap: wrap;
        margin-bottom: 2em;
        margin-top: 2em;
        padding-left:25%;
        padding-right:25%;
        justify-content: center;
    }
    
    .reseaux {
        display: flex;
        padding-left:20%;
        padding-right:5%;
        margin-right: -1;
    }

    footer img {
        width: 40%;
        height: auto;
    }
    
    .sectionFooter {
        display: none;
    }
    
    footer .sectionFooter li {
        list-style: circle;
    }
    
    footer a {
        color: white;
        text-decoration: underline;
    }
}